/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    font-family: 'Arial', sans-serif;
    background-color: transparent;
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    background-color: #00403D;
    color: white;
    z-index: 10;
}

.nav-left .logo {
    max-width: 200px;
    width: 100px;
    height: auto;
}

.nav-center {
    display: flex;
    gap: 20px;
}

.nav-center a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-center a:hover {
    color: #d9ff00;
}

.nav-right {
    display: flex;
    align-items: center;
}

.user-name {
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.logout-btn {
    background-color: #d9ff00;
    color: #00403D;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #b3cfcd;
    color: #00403D;
}