/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: transparent;
}

p{
    font-family: "Crimson Pro", serif; 
}

h1, h2, h3, h4{
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    width: 100%;
    background-color: #00403D;
    color: white;
}

.nav-left .logo {
    max-width: 200px;
    width: 125px;
    height: auto;
}

.nav-center {
    display: flex;
    gap: 20px;
}

.nav-center a {
    font-family: "Crimson Pro", serif; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-center a:hover {
    color: #d9ff00;
}

.nav-right {
    display: flex;
    align-items: center;
}

.user-name {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.logout-btn {
    font-family: "Montserrat", sans-serif;
    background-color: #d9ff00;
    color: #00403D;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.cta-btn{
    font-family: "Montserrat", sans-serif;
    background-color: #d9ff00;
    color: #00403D;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-btn:hover{
    background-color: #b3cfcd;
    color: #00403D;
}


.logout-btn:hover {
    background-color: #b3cfcd;
    color: #00403D;
}


/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.task-list {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.task-list h2 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #00403D;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.action-btn {
    font-weight: bolder;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.action-btn:hover {
    background-color: #003d39;
}

.complete-btn {
    background-color: #005a56;
    color: white;
}s

.complete-btn:hover {
    background-color: #002725;
    color: white;
}

.delete-btn {
    background-color: #da1b0d;
    color: white;
}

.delete-btn:hover {
    background-color: #8f0200;
}


.calendar-section {
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 10px;
    margin: 30px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 30px;
    border: 1px solid #00403D;
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    font-family: "Crimson Pro", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.modal-content h2 , h3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #00403D;
    margin-bottom: 15px;
    font-size: 24px;
}

.modal-content p {
    margin: 8px 0;
    font-size: 16px;
}

.modal-content p strong {
    color: #00403D;
    font-weight: bold;
}

.close {
    color: #00403D;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover, .close:focus {
    color: #b3cfcd;
}

.close-modal-btn {
    background-color: #05413e;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.close-modal-btn:hover {
    background-color: #b3cfcd;
    color: #00403D;
}

.subtask-item {
    margin-top: 8px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-family: "Crimson Pro", serif;
}

.subtask-item p {
    margin: 5px 0;
    font-size: 16px;
}

.subtask-item p strong {
    color: #00403D;
    font-weight: bold;
}




/* Footer */
.footer {
    background-color: #00403D;
    color: white;
    text-align: center;
}

.footer-container {
    
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo {
    flex: 1;
    text-align: left;
}

.footer-logo img {
    width: 100%;
    max-width: 250px;
}

.footer-menu,
.footer-contact {
    margin-top: 5px;
    padding: 20px;
    flex: 1;
    text-align: left;
}

.footer-menu ul,
.footer-contact ul {
    margin-top: 5px;
    list-style: none;
    padding: 0;
}

.footer-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s ease;
}

.footer-menu ul li a:hover {
    color: #d9ff00;
}

.footer-contact .social-icons img {
    margin-top: 20px;
    width: 24px;
}
.footer-bottom {
    font-weight: bolder;
    font-style: italic;
    color: #00403D;
    background-color: #d9ff00;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center; 
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-center {
        display: none;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
    }

    .nav-center.open {
        display: flex;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo,
    .footer-menu,
    .footer-contact {
        text-align: center;
    }


}